[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
paramiko = "*"
pygments = "*"
pyte = "*"
py2app = "*"
pywin32-ctypes = "*"
pyqtdarktheme = "*"
toml = "*"
appdirs = "*"
PyYAML = "*"
zai-sdk = "*"
keyring = "*"
prompt_toolkit = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
