[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
paramiko = "*"
pygments = "*"
"pyqtdarktheme-fork" = "*"
toml = "*"
appdirs = "*"
PyYAML = "*"
openai = "*"
keyring = "*"
prompt_toolkit = "*"
aardwolf = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
